* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html { 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0.5em;
    font-family: "Arial", sans-serif;
}

#wrapper { 
    display: inline-block;
    border: 1px solid black; 
}

#maze {
    .cell {
        float: left;
        width: 20px; 
        height: 20px;

        &.bu{
            border-top: 1px solid black;
        }

        &.br{
            border-right: 1px solid black;
        }

        &.bd{
            border-bottom: 1px solid black;
        }

        &.bl{
            border-left: 1px solid black;
        }

        &.random {
            background-color: darkblue; 
        }     

        &.entrance {
            background-color: darkred; 
        }     

        &.exit {
            background-color: darkgreen;
        }         

        &.path{
            background: #ddd;
        }
    }       
}
